<form id="form" action="/signup" method="POST">
    <h2>Sign Up</h2>
        <br />
        <label for="email">E-mail</label>
    <input type="email" name="email" placeholder="Your email" required/>
    
    
    <br />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="********" required/>
    
    
    <br />
    <label for="repeatPassword">Repeat password</label>
    <input type="password" name="repeatPassword" placeholder="********"  required/>
    
    
    <br />
    <label for="fullname">Full name</label>
    <input type="text" name="fullname" placeholder="Write your name here" />
    
    <br />
    <label for="description">Description</label>
    <input type="text" name="description" required/>

    <br />
    <label for="birthdate">Birthdate</label>
    <input type="date" name="birthdate" required/>
    
    
    <br />
    <div class="genero">
    <label for="radio" required>Gender:</label>
    
    <label for="male">Male</label><br>
    <input type="radio" id="male" name="gender" value="male">
    
    <label for="female">Female</label><br>
    <input type="radio" id="female" name="gender" value="female">
    
    <label for="other">Other</label>
    <input type="radio" id="other" name="gender" value="other">

    </div>
    <br />
    <label for="photo">Attach a nice picture ;)</label>
    <input type="file" name="photo"  required/>
    <form>
    <div>
  <div class="pregunta">1. How do you prefer drink your longs drinks?<br />
  </div>
  <div class="respuestas radioresp">
      <div>
    <input type="radio" name="preg1" value="1" /> Highball glass<br />
    <input type="radio" name="preg1" value="2" /> Glass of cider<br />
    <input type="radio" name="preg1" value="3" />With straw<br />
    <input type="radio" name="preg1" value="4" /> I'm more of beer ...<br />
  </div>
</div>
  <div>
  <div class="pregunta">2. I am more than having breakfast ...<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Cola-cao<br />
    <input type="radio" name="preg1" value="2" /> Nesquick<br />
    <input type="radio" name="preg1" value="3" /> Cofee<br />
    <input type="radio" name="preg1" value="4" /> Others(juice,milk...)<br />
  </div>
</div>
  <div>
  <div class="pregunta">3. what is your secret weapon to flirt?<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Getting sexy<br />
    <input type="radio" name="preg1" value="2" /> Through the stomach<br />
    <input type="radio" name="preg1" value="3" /> With laughter<br />
    <input type="radio" name="preg1" value="4" /> Seduce is my 404 error<br />
  </div>
</div>
  <div>
  <div class="pregunta">4. If you were/are a musician, what instrument would you play?<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Guitar<br />
    <input type="radio" name="preg1" value="2" /> Triangle<br />
    <input type="radio" name="preg1" value="3" /> The palms<br />
    <input type="radio" name="preg1" value="4" /> Zambomba<br />
  </div>
</div>
<div>
  <div class="pregunta">5. Do you want to have children?<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Yes<br />
    <input type="radio" name="preg1" value="2" /> NO!<br />
    <input type="radio" name="preg1" value="3" /> I want twins<br />
    <input type="radio" name="preg1" value="4" /> I have enough with taking care of myself...<br />
  </div>
</div>
<div>
  <div class="pregunta">6. Do you still talk to your ex(es)?<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Yes<br />
    <input type="radio" name="preg1" value="2" /> No, never.<br />
    <input type="radio" name="preg1" value="3" /> only when i'm drunk<br />
    <input type="radio" name="preg1" value="4" /> I have never had a relationship<br />
  </div>
</div>
<div>
  <div class="pregunta">7. What is your education level?<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Degree<br />
    <input type="radio" name="preg1" value="2" /> Doctor<br />
    <input type="radio" name="preg1" value="3" /> ESO<br />
    <input type="radio" name="preg1" value="4" /> No studies, but I'm the boss of the drug<br />
  </div>
</div>
<div>
  <div class="pregunta">8. What is your favorite food?<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Japanese<br />
    <input type="radio" name="preg1" value="2" /> Spanish<br />
    <input type="radio" name="preg1" value="3" /> Italian<br />
    <input type="radio" name="preg1" value="4" /> Your lips baby<br />
  </div>
</div>
<div>
  <div class="pregunta">9. In bed you are more than ...<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Sleep<br />
    <input type="radio" name="preg1" value="2" /> 50 shades<br />
    <input type="radio" name="preg1" value="3" /> Let them dominate me<br />
    <input type="radio" name="preg1" value="4" /> Fifty/fifty<br />
  </div>
</div>
<div>
  <div class="pregunta">10. If a cougar attacks you, what would you do?<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Run<br />
    <input type="radio" name="preg1" value="2" /> Fight<br />
    <input type="radio" name="preg1" value="3" /> Ask who smokes<br />
    <input type="radio" name="preg1" value="4" /> Alt F4<br />
  </div>
</div>
   </form> 
    <button type="submit"name="signup-button">Create account</button>
</form>

{{#if errorMessage}}
<div class="error-message" id="message-container">{{ errorMessage }}</div>
{{/if}}

<script src="basic-auth/public/signup"></script>
