<div class="pregresp">
  <div class="pregunta">1. ¿Crees que HTML es una buena tecnología?<br />
  </div>
  <div class="respuestas">
    <input type="radio" name="preg1" value="1" /> Sí<br />
    <input type="radio" name="preg1" value="2" /> No<br />
    <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
  </div>
</div>





