<div class="FAQ"><img src=""></div>
<h2 class="textoFAQ">Frequently Asked Questions</h2>
<section class="container" id="structure">
    <div>
  <article class="service-box">
  <h4> What is love?</h4>
  <img src="http://assets.stickpng.com/thumbs/5a1887148d421802430d2d04.png">
  <div><p>There are many ambiguous answers to this question, but we are going to be concise with the answer. Love is coffee in the company of every morning, the good night of a mother and the fleeting hug of a friend.
And we are specialists in getting the first one.</p></div>
  </article>
<article class="service-box">
  <h4>How does ILOVEHACK work?</h4>
  <img  src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c13e.png">
  <div><p>Our work method is a mixture of mathematics and feelings. Through an algorithm designed to the millimeter by our developers, we are able to join similar profiles in order to establish love ties
  </p></div>
</article>
<article class="service-box">
  <h4>Real stories</h4>
  <img src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c316.png">
  <div><p>
As an example we have Mike and Rachel, two people who had been looking for love and were the first couple that emerged from using our program. The couple were joined by two twins Zack and Cody.
</p></div>
</article>
<article class="service-box">
  <h4>About us</h4>
  <img src="">
  <div><p>The creators of the web are two humble programmers, Marta and Jose Luis, who based on effort, perseverance and work have joined forces to bring love to every corner of the planet.
 </p></div>
</article>
    </div>
 </section>