<div class="FAQ"><img src=""></div>
<h2 class="textoFAQ">Frequently Asked Questions</h2>
<section class="container" id="structure">
    <div>
  <article class="service-box">
  <h4> What are the </h4>
  <img src="">
  <div><p>aaaadfiugaidgfsdagfadhfkbdsifgksdghfuhadghfljadhflasljbfaklsjbfjkabfjkksb  </p></div>
  </article>
<article class="service-box">
  <h4>Who </h4>
  <img  src="">
  <div><p>aaaadfiugaidgfsdagfadhfkbdsifgksdghfuhadghfljadhflasljbfaklsjbfjkabfjkksb </p></div>
</article>
<article class="service-box">
  <h4>Who ?</h4>
  <img src="">
  <div><p>aaaadfiugaidgfsdagfadhfkbdsifgksdghfuhadghfljadhflasljbfaklsjbfjkabfjkksb </p></div>
</article>
<article class="service-box">
  <h4>About us</h4>
  <img src="">
  <div><p>aaaadfiugaidgfsdagfadhfkbdsifgksdghfuhadghfljadhflasljbfaklsjbfjkabfjkksb </p></div>
</article>
    </div>
 </section>