<div class="FAQ"><img src=""></div>
<h2 class="textoFAQ">Frequently Asked Questions</h2>
<section class="container" id="structure">
    <div>
  <article class="service-box">
  <h4> What are the </h4>
  <img src="">
  <div><p>The Avengers are a fictional team of superheroes that appear in American comics published by Marvel  </p></div>
  </article>
<article class="service-box">
  <h4>Who </h4>
  <img  src="">
  <div><p>The initial Avengers were Thor, Iron Man, Hulk, Wasp, Ant-man. In very few numbers would Captain America and Hawkeye join.</p></div>
</article>
<article class="service-box">
  <h4>Who ?</h4>
  <img src="">
  <div><p>The Hulk may be the strongest Avenger, but without a doubt, Thor is the most powerful. With all the toys that being a Norse god includes, Thor is the youngest of the three great Avengers heroes, and he's also a founding member of the organization.</p></div>
</article>
<article class="service-box">
  <h4>About us</h4>
  <img src="">
  <div><p>Iron Man is one of the great superheroes of Marvel Comics. ... We are referring of course to The Invincible Iron Man, alias of the industrialist and scientist Tony Stark (and sometimes other people), a hero who in the cinema embodies the charismatic and unrepeatable Robert Downey Jr.</p></div>
</article>
    </div>
 </section>