<div class="FAQ"><img src=""></div>
<h2 class="textoFAQ">Frequently Asked Questions</h2>
<section class="container" id="structure">
    <div>
  <article class="service-box">
  <h4> What is love?</h4>
  <img src="">
  <div><p>There are many ambiguous answers to this question, but we are going to be concise with the answer. Love is coffee in the company of every morning, the good night of a mother and the fleeting hug of a friend.
And we are specialists in getting the first one.</p></div>
  </article>
<article class="service-box">
  <h4>How does I<3</h4>
  <img  src="">
  <div><p>aaaadfiugaidgfsdagfadhfkbdsifgksdghfuhadghfljadhflasljbfaklsjbfjkabfjkksb </p></div>
</article>
<article class="service-box">
  <h4>Who ?</h4>
  <img src="">
  <div><p>aaaadfiugaidgfsdagfadhfkbdsifgksdghfuhadghfljadhflasljbfaklsjbfjkabfjkksb </p></div>
</article>
<article class="service-box">
  <h4>About us</h4>
  <img src="">
  <div><p>aaaadfiugaidgfsdagfadhfkbdsifgksdghfuhadghfljadhflasljbfaklsjbfjkabfjkksb </p></div>
</article>
    </div>
 </section>