<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
{{!-- esto es para que salga info según si estás logueado o no --}}
{{#if isUserLoggedIn}}
  <p> Hello, {{ currentUserInfo.name }}. </p>
{{/if}}
<nav>
  <ul>
  <!-- validamos que el usuario esté logueado para mostrar diferentes opciones en la navbar-->
    {{#if isUserLoggedIn}}
     <li> <a href="/events"> See the coolest events in the city </a> </li>
      <li> <a href="/myprofile"> My profile </a> </li>
      <li> <a href="/faq"> FAQ </a> </li>
      <li> <a href="/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>

    {{{body}}}
  </body>
</html>
