<p>profileOKey</p>


{{#if isUserLoggedIn}}
  <p><img src="{{currentUserInfo.photo}}"></p>
  <p>{{ currentUserInfo.fullname}}. </p>
  <p>{{ currentUserInfo.description}}. </p>
{{/if}}
<a href="/fav-events"><button>FAV events</button></a>

<a href="/matches"><button>Matches</button></a>