<p>I&lt3HACK</p>

{{!-- esto es para que salga info según si estás logueado o no --}}
{{#if isUserLoggedIn}}
  <p> Hello, {{ currentUserInfo.fullname }}. </p>
{{/if}}
{{#if isUserLoggedIn}}
  <p><img src="{{currentUserInfo.photo}}"></p>
  <p>{{ currentUserInfo.fullname}}. </p>
  <p>{{ currentUserInfo.description}}. </p>
{{/if}}
<a href="/fav-events"><button>FAV events</button></a>

<a href="/matches"><button>Matches</button></a>